.promo__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dogs__header{
    background-image: url(../../../../assets/images/start-screen-puppy.png);
    width: 698px;
    height: 728px;
    display: inline-block;

}